/* --- Paulina Kimak --- */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background: #222222;
    margin: 0;
    padding: 0;
}

footer {
    background: #d4b505;
    color: #1f1f1f;
    padding: 5%;
    margin: 5% 0 0 0;
}

#navstyle {
    background: #d4b505;
    padding: 3%;
    margin: 0 0 3% 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
}

.navbar-nav {
    margin-left: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 3% 0;
}

figcaption {
    font-size: 70%;
    color: #b3b3b3;
    text-align: left;
    margin: 0;
    padding: 0;
}

#use {
    padding: 7%;
    margin: 2% auto;
    max-width: 800px;
    text-align: center;
}

#use h1 {
    font-size: 1.5em;
    color: #d4b505;
    font-weight: 900;
    text-transform: uppercase;
    margin: 2%;
}

#use h2 {
    font-size: 1.1em;
    color: #ffffff;
    margin: 2%;
}

#use p {
    font-size: 0.9em;
    color: #cacaca;
    margin: 2%;
}

#use .btn {
    font-size: 0.9em;
    background-color: #d4b505;
    color: #1f1f1f;
    margin: 2%;
}

.card {
    background: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    height: 100%;
    margin: 4% 2%;
    padding: 5% 2%;
}

.card h3 {
    font-size: 1.1em;
    color: #ffffff;
    text-transform: uppercase;
}

.card p {
    font-size: 0.9em;
    color: #cacaca;
}

.card .btn {
    font-size: 0.8em;
    color: #222222;
}



.col-yellow {
    background: #d4b505;
}

.col-grey {
    background: #cacaca;
}

.col-dark {
    background: #1f1f1f;
}

#tables h2 {
    font-size: 1.5em;
    color: #d4b505;
    text-transform: uppercase;
    margin: 2% auto;
    text-align: center;
}

#tables .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#tables .col-md-6 {
    flex: 0 0 48%;
}

#eco .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#eco .card {
    flex: 0 0 32%;
}

#myCarousel {
    max-width: 70%;
    margin: 0 auto;
}

#formstyle {
    padding: 7%;
    margin: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #cacaca;
    border: 3px solid #d4b505;
}

.form-control {
    opacity: 0.7;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #d4b505;
}

#myform h2,
#legend h2,
#visual h2 {
    font-size: 1.5em;
    color: #d4b505;
    text-transform: uppercase;
    margin: 2% 0;
}

button.btn-outline-warning,
button.btn-outline-secondary {
    margin: 2% 1% 0 0;
}
