@using Microsoft.AspNetCore.Identity
@using BuildMaX.Web.Models.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ms-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="navbar-text text-white me-2">
            @User.Identity!.Name
        </span>
    </li>
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
            <button type="submit" class="btn btn-outline-light btn-sm">Wyloguj</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
    </li>
}
</ul>
