@model Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary

<h1 class="text-danger">Wystąpił błąd</h1>
<p>Przepraszamy, coś poszło nie tak.</p>

@if (Model?.ErrorCount > 0)
{
    <ul>
    @foreach (var err in Model.Values.SelectMany(v => v.Errors))
    {
        <li>@err.ErrorMessage</li>
    }
    </ul>
}
