@model BuildMaX.Web.Models.ViewModels.Auth.RegisterViewModel
@{
    ViewData["Title"] = "Rejestracja";
}

<h2>Rejestracja</h2>

<div class="card">
    <form asp-action="Register" method="post">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <button type="submit">Zarejestruj</button>
    </form>
</div>
